@media screen and (max-width: 1440px)
    main
        .projects
            // grid-template-columns repeat(12, 1fr)
            // .project-card
            //     &.secundr
            //         padding 4rem
            //     &.mgfn
            //         grid-column-start auto
            //         grid-column-end span 5
            //     &.sklvb2b
            //         grid-column-start auto
            //         grid-column-end span 7
            //     &.titan-relay
            //         grid-column-start auto
            //         grid-column-end span 5
            //     &.secundr
            //         grid-column-end span 6
            //     &.territory,
            //         grid-column-end span 4
            //     &.los-pivnos,
            //     &.remeet
            //         grid-column-start auto
            //         grid-column-end span 6
            //     &.wtb-icons-loop,
            //     &.realize-loop,
            //     &.watches-loop,
            //     &.jewelinariy,
            //     &.skvl-logo-fx-loop,
            //     &.finfarm,
            //     &.walking-cycle
            //         grid-column-start auto
            //         grid-column-end span 4
            //     &.adkorn
            //         grid-column-start auto
            //         grid-column-end span 7
        .project
            .video
                &.anim-loop
                    grid-column-end span 2
// @media screen and (max-width: 1024px)
@media screen and (max-width: 768px)
    main
        padding 2rem
        .header
            flex-direction column
            .title
                max-width 100%
                margin-bottom 1rem

@media screen and (max-width: 650px)
    main
        padding 2rem 1rem
        .projects
            grid-template-columns repeat(1, 1fr)
            grid-gap 4rem
            .project-card
                &.secundr
                    padding 0
                &.adkorn
                    align-items flex-start
                &.mgfn,
                &.adkorn,
                &.sklvb2b,
                &.titan-relay,
                &.wtb-icons-loop,
                &.remeet,
                &.realize-loop,
                &.secundr,
                &.territory,
                &.watches-loop,
                &.los-pivnos,
                &.jewelinariy,
                &.skvl-logo-fx-loop,
                &.finfarm,
                &.walking-cycle
                    grid-column-start auto
                    grid-column-end span 1
        .go-back
            right 0
            top -16px
        .project
            grid-gap 1rem
            .description
                padding-right 3rem
                p
                    width 90%
                h1
                    font-size 1.5rem
                    margin-bottom .4rem
                p
                    font-size 1.3rem
                .role,
                .tools
                    flex-direction column
                    align-items flex-start
                .tools
                    padding-top .6rem
        .project-nav
            .prev,
            .all
            .next
                font-size 20px
// @media screen and (max-width: 500px)
// @media screen and (max-width: 400px)
